<div class="row">
  <aside class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3><%= @user.name %></h3>
      </div>
      <div class="panel-body">
        <% if @user.image.file %>
          <img class="media-object img-circle center-block" src="<%= @user.image %>" alt="">
        <% else %>
          <img class="media-object img-circle center-block" src="<%= gravatar_url(@user, { size: 100 }) %>" alt="">
        <% end %>
        <%= link_to 'プロフィール編集', edit_user_path(@user) %>
      </div>
      <div class="panel-footer">
      <p>投稿件数：<%= @count_posts %>件</p>
      <p>お気に入り件数：<%= @count_fav_posts %>件</p>
    </div>
  </aside>
  <div class="col-xs-8">
    <ul class="nav nav-tabs nav-justified">
      <li class="<%= 'active' if current_page?(user_path(@user)) %>"><%= link_to user_path(@user) do %><span class="glyphicon glyphicon-book"></span> 投稿一覧 <span class="badge"><%= @count_posts %></span><% end %></li>
      <li class="<%= 'active' if current_page?(fav_posts_user_path(@user)) %>"><%=link_to fav_posts_user_path(@user) do %><span class="glyphicon glyphicon-star"></span> お気に入り一覧 <span class="badge"><%= @count_fav_posts %></span><% end %></li>
    </ul>
  </div>

</div>
<%= render 'posts/post', post: @posts%>