<%= form_for @contact do |f| %>

 <div class="form-group">
    <%= f.label :name, 'お名前' %><span class="require-form">※必須</span>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email, '返信先メールアドレス' %><span class="require-form">※必須</span>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  
 <div class="form-group">
   <%= f.label :content, 'お問い合わせ内容' %><span class="require-form">※必須</span>
   <%= f.text_area :content, size: '10x10', class: 'form-control' %>
 </div>
  
  <%= f.submit '送信', class: 'btn pull-right'%>
  
<% end %>