<div class="toppage">
  <% if logged_in? %>
    <div class="search">
     <%= render 'posts' %>
    </div>
    <%= render 'posts/posts', post:@posts %>
  <% else %>
  <% content_for :cover do %>
    <div class="cover">
      <div class="toppage-text">
        <div class="text-center">
          <h1>Favbooksとは</h1>
        </div>
        <p>好きな本をただただ誰かに勧めるサイトです。あなたが無理やりにでも誰かに読ませたいと思う一冊について、熱く、そして自由に語りつくしてください。</p>
        <p class="text-center">あなたの世界を揺るがした物語への、<br>
        主観的で独りよがりな、<br>
        客観的で偉そうな、<br>
        共感できそうもないエゴの塊のような、<br>
        どこか倒錯していて、<br>
        どこか錯綜していて、<br>
        だけどひどく真っ直ぐな、<br>
        感情剥き出しの声を求めます。</p>
        <ul class="list-inline">
          <li class="list-inline-item"><%= link_to '投稿一覧へ', posts_path,style: 'color:#FFFF77;' %></li>
          <li class="list-inline-item"><%= link_to '会員登録へ', signup_path, style: 'color:#FFFF77;' %></li>
        </ul>
      </div>
    </div>
    <% end %>
    <div class="text-center">
      <h2>サイト概要</h2>
      <p class="overview">
        読もうと思っていた作品に低評価をつけられているのを見て、読むのを止めてしまった経験はありませんか？<br>
        ここでは他のレビューサイトのように、作品に星をつけることはできません。<br>
        人の購買意欲を最も刺激するのは、星の数ではなく、具体的な高評価だからです。<br>
        そのため、このサイトに掲載できるのは、五つ星の最高評価の作品に限られます。<br>
        このサイトでは、少なくとも誰か一人が最高に面白い作品だと認めた作品だけを集めます。
      </p>
    </div>
    <h2 class="text-center">投稿を見る</h2>
    <%= render 'posts/posts', post:@posts %>
    <%= link_to '投稿一覧へ', posts_path, class:'toppage-links' %>
    <div class="text-center">
      <h2>会員登録</h2>
      <p>投稿、検索、お気に入り機能を利用するには会員登録が必要です。</p>
    </div>
    <%= link_to '会員登録へ', signup_path, class:'toppage-links' %>
  <% end %>
</div>
