<div class="row">
  <ul class="media-list">
    <% post.each do |post| %>
      <div class="panel panel-info main">
        <li class="media col-md-6">
          <div class="media-middle media-left">
            <img class="media-object post-image" src="<%= post.item.image_url %>" alt="">
          </div>
          <div class="media-body">
            <div>
              <h4>書籍タイトル：<%= post.book_title %><span><%= '(ネタバレ有)' if post.netabare.present? %></span></h4>
            </div>
            <div>
              <p>ユーザー名：<%= link_to post.user.name, user_path(post.user) %></p>
            </div>
            <div>
              <p>お気に入り登録数：<%= post.users.count %>件</p>
            </div>
            <div>
              <p>作成日時：<%= post.created_at.strftime('%Y年%m月%d日') %></p>
            </div>
          </div>
        </li>
        <div class="content-top">
          <h5 class="text-center"><%= post.content_title %></h5>
          <% if post.netabare.present? %>
            <p><%= truncate(post.content, length:130) %>  <%= link_to '続きを読む(この投稿にはネタバレが含まれます)', post_path(post) %></p>
          <% else %>
            <p><%= truncate(post.content, length:130) %>  <%= link_to '続きを読む', post_path(post) %></p>
          <% end %>
        </div>
          <div class="media-footer text-center">
            <% if current_user == post.user %> 
              <%= link_to '削除', post_path(post),method: :delete, data: {confirm: "本当に削除してよろしいですか？"},class:'index-btn delete-btn glyphicon glyphicon-trash' %>
              <%= link_to '編集', edit_post_path(post), class:'edit-btn index-btn glyphicon glyphicon-pencil' %>
            <% end %>
          </div>
      </div>
    <% end %>
  </ul>
  <% if logged_in? %>
    <%= paginate post %>
  <% end %>
</div>