<div class="row">
   <ul class="media-list">
    <% post.each do |post| %>
    <div class="panel panel-info">
      <li class="media col-md-6 pull-left">
        <div class="media-middle media-left">
           <img class="media-object img-circle" src="<%= gravatar_url(post.user, { size: 110 }) %>" alt="">
        </div>
        <div class="media-body">
          <div>
            <h4>書籍タイトル：<%= post.book_title %></h4>
          </div>
          <div>
            <p>ユーザー名：<%= link_to post.user.name, user_path(post.user) %></p>
          </div>
          <div>
            <p>お気に入り登録数：〇件</p>
          </div>
          <div>
            <p>作成日時：<%= post.created_at.strftime('%Y年%m月%d日') %></p>
          </div>
        </div>
      </li>
      <div>
        <h5 class="col-md-offset-5 text-center"><%= post.content_title %></h5>
        <p class="clearfix"><%= truncate(post.content, length:180) %>  <%= link_to '続きを読む', post_path(post) %></p>
      </div>
    </div>
    <% end %>
  </ul>
  <% if logged_in? %>
    <%= paginate post %>
  <% end %>
</div>