<div class="row">
   <ul class="media-list">
    <% @posts.each do |post| %>
      <li class="media col-md-6">
        <div class="media-middle media-left">
           <img class="media-object img-circle" src="<%= gravatar_url(post.user, { size: 110 }) %>" alt="">
        </div>
        <div class="media-body">
          <div>
            <h4 class="media-heading">書籍タイトル：<%= post.book_title %></h4>
          </div>
          <div>
            <p>書いた人：<%= link_to post.user.name, user_path(post.user) %></p>
          </div>
          <div>
            <p>お気に入り登録数：〇件</p>
          </div>
          <div>
            <p>作成日時：<%= post.created_at.strftime('%Y年%m月%d日') %></p>
          </div>
        </div>
      </li>
      <div class="media-right col-md-5 col-md-offset-1">
        <p class="col-md-offset-5"><%= post.content_title %></p>
        <p><%= truncate(post.content, length:120) %></p>
      </div>
    <% end %>
  </ul>
</div>