<div class="confirm">
  <%= form_for(@post) do |f| %>
  
    <div class="field">
      <%= f.label '書籍タイトル' %>
      <h4 class=new-book-title><%= @post.item.title %></h4>
      <%= f.hidden_field :book_title %>
    </div>
    
    <div class="field">
      <%= f.label 'ジャンル'%>
      <p class="genre"><%= @post.genre %></p>
      <%= f.hidden_field :genre %>
    </div>
    
    <div class="field">
      <h4><%= @post.content_title %></h4>
      <%= f.hidden_field :content_title %>
    </div>
    
    <div class="field">
      <div class="main-content">
        <%= simple_format(@post.content) %>
        <%= f.hidden_field :content %>
      </div>
     <%= f.hidden_field :item_id,value: @post.item_id %>
    </div>
    
    <div class="field">
      <% if @post.netabare.present? %>
        <p class="netabare-confirm">ネタバレ有</p>
      <% end %>
      <%= f.hidden_field :netabare, value: @post.netabare %>
    </div>
    
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        <div class="actions">
          <%= f.submit '戻る', name: 'back', class:'btn'%>
          <%= f.submit '作成', class:'btn '%>
        </div>
      </div>
    </div>
  <% end %>
</div>