<%= form_for @post, url: {action:'confirm'} do |f| %>
<%= render 'layouts/error_messages', model: f.object %>

  <div class="form-group">
    <%= f.label :book_title, '書籍タイトル' %>
    <h4 class=new-book-title><%= @post.item.title %></h4>
    <span class="require-form">※書籍情報は後から変更することができません。間違えた場合には前の画面からやり直してください。</span>
    <%= f.hidden_field :book_title, value: @post.item.title %>
    <%= f.hidden_field :author, value: @post.item.author %>
  </div>
  
  <div class="form-group">
    <%= f.label :genre, 'ジャンル'%>
    <%= f.select :genre, [['',nil],['純文学','純文学'],['ミステリー','ミステリー'],['青春','青春'],
                          ['恋愛','恋愛'],['SF','SF'],['ファンタジー','ファンタジー'],
                          ['ホラー','ホラー'],['ライトノベル','ライトノベル'],['経済','経済'],
                          ['歴史','歴史'],['児童','児童'],['その他','その他']], class:'form-control' %>
     <span class="text-muted">※任意<span>
     <br><small>ジャンルは必ずしも公式と一致させる必要はありません。これだと思うジャンルを選択してください</small>
  </div>
  
  <div class="form-group">
    <%= f.label :content_title,'タイトル' %>
    <%= f.text_field :content_title, class:'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :content, '本文', class:'pull-left' %>
    <p class='help-block pull-right'>全角200文字以上5,000文字以下</p>
    <%= f.text_area :content, size: '15x15', class:'form-control' %>
  </div>
    <%= f.hidden_field :item_id,value: @post.item_id %>
    
  <div class="netabare-check">
    <%= f.label :netabare, class:'checkbox-inline' do %>
    <%= f.check_box :netabare %>
    <span>ネタバレを含む場合は必ずチェックを入れてください</span>
    <% end %>
  </div>
  
  <div class="actions">
    <%= f.submit '確認画面へ', class:'btn pull-right' %>
  </div>
  
<% end %>

