<% if logged_in? %>
  <h3><%= @post.book_title %></h3>
  <div class="text-muted text-right">
    作成日時：<%= @post.created_at.strftime('%Y年%m月%d日') %>
  </div>
  <h4><%= @post.content_title %></h4>
  <div class="main-content">
    <%= simple_format(@post.content) %>
  </div>
  <% unless current_user == @post.user %>
    <% if current_user.liking?(@post) %>
      <%= form_for(current_user.favorites.find_by(post_id: @post.id),html: {method: :delete}) do |f|%>
        <%= hidden_field_tag :like_id, @post.id %>
        <%= button_tag(class: 'btn btn-default pull-left') do %>
          <%= content_tag :span, 'お気に入り', class:'glyphicon glyphicon-star' %>
        <% end %>
      <% end %>
    <% else %>
      <%= form_for(current_user.favorites.build) do |f| %>
        <%= hidden_field_tag :like_id, @post.id %>
        <%= button_tag(class: 'pull-left') do %>
          <%= content_tag :span, 'お気に入り', class:'glyphicon glyphicon-star-empty color-gold' %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <div class=" edit-page text-right">
    <% if current_user == @post.user %>
      <%= link_to '編集', edit_post_path(@post), class:'index-btn glyphicon glyphicon-pencil edit-btn'%>
      <%= link_to '削除', @post, method: :delete, data: {confirm: "本当に削除してよろしいですか？"}, class: 'index-btn glyphicon glyphicon-trash delete-btn' %>
    <% end %>
    <%= link_to '一覧へ戻る', root_path %>
  </div>
<% else %>
  <h3><%= @post.book_title %></h3>
    <div class="text-muted text-right">
      作成日時：<%= @post.created_at.strftime('%Y年%m月%d日') %>
    </div>
  <h4><%= @post.content_title %></h4>
  <div class="main-content">
    <%= simple_format(@post.content) %>
  </div>
  <div class="text-right">
    <%= link_to '一覧へ戻る', root_path, class:'text-right' %>
  </div>
<% end %>