<header>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Favbooks</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'HOME', root_path, class:'nav-links' %></li>
          <% if logged_in? %>
            <li><%= link_to 'マイページ', user_path(current_user), class:'nav-links' %></li>
            <li><%= link_to '新規投稿', new_item_path, class:'nav-links' %></li>
            <li><%= link_to 'ログアウト', logout_path, method: :delete, class:'nav-links' %></li>
          <% else %>
            <li><%= link_to 'ログイン', login_path, class:'nav-links' %></li>
            <li><%= link_to '会員登録', signup_path, class:'nav-links' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>