<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Favbooks</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= yield :cover %>
    <div class="container">
      <%= render 'layouts/flash_messages' %>
      
      <%= yield %>
    </div>
  <footer>
    <div class="text-center text-muted">
      <ul class="list-inline">
        <li class="list-inline-item">
          © 2018 Favbooks.
        </li>
        <li class="list-inline-item">
          <%= link_to '利用規約', agreement_path, class: 'text-muted' %>
        </li> 
        <li class="list-inline-item">
          <%= link_to 'プライバシーポリシー', privacy_path, class: 'text-muted' %>
        </li>
        <li class="list-inline-item">
          <%= link_to 'お問い合わせ', new_contact_path, class: 'text-muted' %>
        </li>
        
      </ul>
    </div>
  </footer>
  </body>
</html>
